.bg_slider_prweb1 {
	background-image: url(../images/slider/slider1-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: none !important;
}

.bg_slider_prweb2 {
    background-image: url(../images/slider/slider1-1.jpg);
	background-repeat: no-repeat;
    background-size: 100%;
    background-color: none !important;
}

.bg_slider_prweb3 {
	background-image: url(../images/slider/slider1-3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: none !important;
}

.bg_gray {
	background-image: url(../images/img1-7.jpg);
    background-repeat: repeat;
    background-size: 100%;
    background-color: none !important;
}



@media (min-width: 1200px){
.container {
    max-width: 1554px !important;
}
}