

.ji_category_img{
    border-radius: 10px;
}

.cat_img_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cat_img{
    margin-bottom: 20px;
}
.cat_img:hover{
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 0.2s;
    
    -webkit-animation-name: shrink;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: shrink;
    -moz-animation-duration: 0.4s;
    -moz-animation-timing-function: linear;
    
    transition-property: -moz-transform;
    transition-duration: 0.2s;
    animation-name: shrink;
    animation-duration: 0.4s;
    animation-timing-function: linear;
}
@-webkit-keyframes shrink {
    from {
        -webkit-transform:scale(1);
    }
    to {
        -webkit-transform:scale(0.9);
    }
}
@-moz-keyframes shrink {
    from {
        -moz-transform:scale(1);
    }
    to {
        -moz-transform:scale(0.9);
    }
}
@keyframes shrink {
    from {
        transform:scale(1);
    }
    to {
        transform:scale(0.9);
    }
}

.cat_title:hover{
    color: #75af19;
}
@media (min-width: 992px)
{
    .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: space-between;
}
}


.menu_dropdow_button{
    background-color: #75af19 ;
    border-radius: 20px;
    border: none;
}

.navbar .navbar-nav > li > .nav-link {
    font-weight: 500;
    padding: 18px 10px;
    text-transform: capitalize;
    font-size: 14px;
}


/* custom search */

.ji_search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .ji_searchTerm {
    width: 100%;
    border: 3px solid #75af19;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .ji_searchTerm:focus{
    color: #75af19;
  }
  
  .ji_searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #75af19;
    background: #75af19;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .ji_wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(20%, -50%);
  }


  .top-header{        
      border-bottom: 1px solid #ebebeb;
  }

  
  .card.slider_promo{
    border: none;
    box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transform: translate(0%, -100%);

}

.slider_promo .card-body{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}


.ji_promo_rating{
  display: flex;

}


.ji_shape15 {
	right: 15%;
	bottom: 15%;
}


.promo-card-img{
    height: 90px;
    /*margin: 10px;*/
}


.banner_slider:not(.full_screen), .banner_slider:not(.full_screen) .carousel-item, .banner_section:not(.full_screen) .banner_content_wrap, .banner_section:not(.full_screen) .banner_content_wrap .carousel-item{
    height: 750px;
}


.card.slider_promo .row.no-gutters .col-sm-5{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ji_promo_rating span.fa.fa-star{
    height: 15px;
    width: auto;
    color: orange;
    margin-bottom: 5px;
}


@media screen and (max-width: 992px) {
    #ji_search_non_popup, #second_nav_bar {
        display: none;
    }
    #ji_popup_sreach{
        display: block;
    }
  }

  @media screen and (max-width: 1199px) {
    #ji_shape15 {
        display: none;
    }
    
  }
  
#ji_popup_sreach{
    display: none;
}